button {
    color:black;
    text-align: center;
    text-decoration: none;
    font-size: medium;
}

button:hover {
    box-shadow: inset;
}

.active{
    color: green;
}

.inactive{
    color: gray;
}