button {
    color:black;
    text-align: center;
    text-decoration: none;
    font-size: medium;
}

button:hover {
    box-shadow: inset;
}

.actived{
    color: red;
}

.inactive{
    color: gray;
}